---
layout: archive
title: "Interesting Links"
permalink: /interestinglinks/
author_profile: true
---

<div class="broider">
<p>Over the years, I have come across way too many fun sites on the internet, and I thought including some of them here on my personal website would be a good way to showcase them!</p>

<style>
  .broider {
    border-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACQ0lEQVR4Xu2bWW7DMAxEk/sfugtQFLHiashyyCx4/fWIFJ+5yE59vcz/fQy7vE76G3X2ExhAzXcYoACNE5go+TUjJ3zeEhj1PxHcaEAnuTTqH6Dxag4pARrCFBd1AB0tsXiov8rW/QH0crEysBr74+De4eMfiUmGVqDt1lLyZrIABeiRAD20mBGtJVXc2/fy1v09W/YYeEkTAJWIcgKA5nhJNUAlopzg4UCn37Dn8Gj1OicUUBXvdu5EhpJyoEN6rAKgZv4AfTegqseY4x03V41vu/6sh1YdjhNKOqzGB9AFOECTGajk7UCrDtYA3PYUoOx19/4O9r57aKuDL/uRs24WSkXfGi9A6zecDF3Su1pBAAVopWPer6WHenn2DmGGEkOpnK+UfBnh0QBAAXokUD3nmXkylABqPjgDFKDenueeomQoGUqGVqqAt03mCgIoQCsFyes7L70Ta+5TCCVPyXuTlgz18uTliJknQAFqbvovB3TdcLVpV9c/O8Atr47/DwXogrwKpLqeDDXfkLcDqnrqet39lYUbaPePhHePnioA9Z0SQG8IRu4eQPcpR4aqkkxeTwNN2rc/2mX9d+vTn9VUN/Rsx6ZqPGpIH9pmpIdmNwTQLDGhByhAUwTooSlcWgxQzSilAGgKlxYDVDPaKlJDlmOTpg1QzSilAGgKlxY/HGjqUU3H067Ivk3bbqijhwK0OQdSJdO8lzPzZKgZ+ssBVS3AzCdtztr2rMaCoaiMCJqxyawMrMaCIQI0CCoqe2ugn1sR7DHAkvj3AAAAAElFTkSuQmCC') 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
  }
  /* Grid container styling */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
  }

  /* Tile styling */
  .grid-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  /* Different colors for each tile */
  .grid-item:nth-child(1) { background-color: red; }
  .grid-item:nth-child(2) { background-color: orange; }
  .grid-item:nth-child(3) { background-color: peachpuff; }
  .grid-item:nth-child(4) { background-color: green; }
  .grid-item:nth-child(5) { background-color: blue; }
  .grid-item:nth-child(6) { background-color: indigo; }
  .grid-item:nth-child(7) { background-color: violet; }
  .grid-item:nth-child(8) { background-color: teal; }
  .grid-item:nth-child(9) { background-color: pink; }
  .grid-item:nth-child(10) { background-color: brown; }
  .grid-item:nth-child(11) { background-color: lime; }
  .grid-item:nth-child(12) { background-color: coral; }
  .grid-item:nth-child(13) { background-color: navy; }
  .grid-item:nth-child(14) { background-color: magenta; }
  .grid-item:nth-child(15) { background-color: gold; }
  .grid-item:nth-child(16) { background-color: lightseagreen; }

</style>


<!-- Grid container -->
<div class="grid-container">
  <a href="https://tixy.land" class="grid-item">Minimalist Creative Coding</a>
  <a href="https://matias.me/nsfw/" class="grid-item">🕺</a>
  <a href="https://maxbittker.github.io/broider/" class="grid-item">Broider</a>
  <a href="https://stylestage.dev/" class="grid-item">Fun with CSS</a>
  <a href="https://scastiel.dev/3dbook" class="grid-item">3D Book</a>
  <a href="https://www.windows93.net/" class="grid-item">Windows 93</a>
  <a href="https://infinitezoom.net/" class="grid-item">Infinite Zoom</a>
  <a href="https://bongo.cat" class="grid-item">Bongo Cat</a>
  <a href="https://neal.fun/deep-sea/" class="grid-item">The Deep Sea</a>
  <a href="https://www.instantsinger.com/dashboard" class="grid-item">Instant Singer</a>
  <a href="https://pudding.cool/2019/05/people-map/" class="grid-item">People Map</a>
  <a href="https://david.li/paint/" class="grid-item">Fluid Paint</a>
  <a href="https://generative.fm/" class="grid-item">Ambient Music</a>
  <a href="https://github.com/martinraison/ascii-tv" class="grid-item">ASCII Movies in Terminal</a>
  <a href="https://wiredjs.com/" class="grid-item">Wired Elements</a>
  <a href="https://a.singlediv.com/" class="grid-item">A Single Div</a>
</div>
</div>



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
